.table th .table td {
    vertical-align: middle;
    height: 25px;
    text-align: center;
    padding: 5px;
}

.table th {
    background-color: rgba(218, 255, 250, 0.223);
    color: rgb(64, 132, 109);
}

.table th:nth-child(odd) {
    background: rgba(226, 245, 237, 0.72);
}

.tr:nth-child(even) {
    background: rgb(247, 254, 252);
}

.tr {
    transition: all .3s;
}


.newMailButton {
    display: inline-block;
    padding: 0 18px 0 5px;
    text-shadow: 1px 1px 3px #1a1a19c7;
    color: #1d1c14;
    background-color: transparent;
    font-size: 17px;
    cursor: pointer;
    border: 1px solid #5a8383;
    border-radius: 15px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
}
